In [1]:
import pandas as pd

In [3]:
pd.DataFrame({"Autobots" : ["Optimus Prime", "Ironhide"], "Decepticons" : ["Megatron", "Soundwave"]})

        Autobots Decepticons
0  Optimus Prime    Megatron
1       Ironhide   Soundwave

In [4]:
a = "Autobots"
b = "Decepticons"

In [5]:
pd.DataFrame({a : ["Optimus Prime", "Ironhide"], b : ["Megatron", "Soundwave"]})

        Autobots Decepticons
0  Optimus Prime    Megatron
1       Ironhide   Soundwave

In [6]:
pd.DataFrame({a : ["Optimus Prime", "Ironhide"], b : ["Megatron", "Soundwave"]},index =['Leader', 'Second in Command'])

                        Autobots Decepticons
Leader             Optimus Prime    Megatron
Second in Command       Ironhide   Soundwave

In [7]:
pd.Series(["Hokage", "Anbu", "Jonin", "Chunin", "Genin"])

0    Hokage
1      Anbu
2     Jonin
3    Chunin
4     Genin
dtype: object

In [9]:
pd.Series(["Hokage", "Anbu", "Jonin", "Chunin", "Genin"], index = [i for i in range(5,0,-1)], name = "Shinobi levels")

5    Hokage
4      Anbu
3     Jonin
2    Chunin
1     Genin
Name: Shinobi levels, dtype: object